<header class="site-header">

  <div class="container">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>

      <div class="trigger">
          <a class="page-link" href="{{ site.baseurl }}/"><span class="glyphicon glyphicon-home"></span> 首页 </a>
          <a class="page-link" href="{{ '/feed.xml' | prepend: site.baseurl }}"><img style="height:1em" src="{{ '/image/icon/feedIcon.png' | prepend:site.baseurl }}" /> 订阅 </a>
        {% for page in site.pages %}
          {% if page.menu %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
