<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 visible-xs-block">
                <select style="width:75%;margin-bottom:1em" onchange="if(this.value) window.location.href=this.value">
                    <option value="">文章分类...</option>
                    {% for cat in site.categories %}
                    <option value="{{ cat | first | prepend: '/categories/' | prepend: site.baseurl }}/">{{ cat | first}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                {{ content }}
            </div>
            <div class="hidden-xs col-sm-4">
                <table class="table table-hover">
                    <thead><tr><th>文章分类</th></tr></thead>
                    {% for cat in site.categories%}
                    <tr><td><a href="{{ cat | first | prepend: '/categories/' | prepend: site.baseurl }}/">
                            {{ cat | first }} <span class="badge">{{ cat | last | size }}</span>
                    </a></td></tr>
                    {% endfor%}
                </table>
            </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include script.html %}

  </body>

</html>
